/*resert de estilos de navegador elimina todo lo que por defecto trae las paginas*/
*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/*estilos de header*/


.header-content {
    background-image: url(Imagenes/Raquira/plazaraquira2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 170px;
    position: relative;
}


.text-section, p {
    padding: 2%;
    margin-bottom: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 110%;
    text-align: center;
    color: blue;
  
}
.text-section h2{
    color: blue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin: 60px;
    font-size: 30px;

}
/*estilos del main*/

h1 {
    color:blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50PX;
    text-align: center;
}

.container {

    list-style: none; /*eliminar los puntos de la lista*/
    display: flex; /* para alinear elementos*/
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px 0; /*espacio interior en la parte superior e inferior*/
    gap: 80px;/*espacio entre elementos*/
    margin-top: 1%; /*espacio superior*/
    
}

.image-texto, img {

    width: 250px;  /* Ancho fijo */
     height: 350px; /* Altura fija */
     object-fit: cover; /* Ajusta la imagen dentro del área sin distorsionarla */
     border: 1px solid #0c0c0c;  /* Añadir un borde opcional */
}

.li, a {

    justify-content: center;
    text-decoration: none;
    color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 29px;
}



.option h2{
    color: blue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align:left;
    margin: 80px;
    font-size: 40px;
    

}
.gastronomia-section {
    display: flex;
    gap: 5px;
    padding: 5px;    
    margin: 20px;
    flex-wrap:wrap;
}

.image-logo {

    position: relative;
    overflow: hidden;
    border-radius:2px;
    box-shadow: 0 4px 8px rgba(3, 3, 3, 0.1); 
    background-color: beige;
    
}

.image-logo img {

    width: 255px;  /* Ancho fijo */
    height: 400px; /* Altura fija */
    object-fit: cover; /* Ajusta la imagen dentro del área sin distorsionarla */
    border: 1px solid #0c0c0c; /* Añadir un borde opcional */
    gap: 50px;
 
}

.hospedaje-section {
    display: flex;
    grid-template-columns: repeat(auto-fit,minmax(500px, 1fr));
    gap: 5px;
    padding: 5px; 
    margin: 20px;   
    flex-wrap: wrap;
}

.sitios-section {
    display: flex;
    grid-template-columns: repeat(auto-fit,minmax(500px, 1fr));
    gap: 5px;
    padding: 5px; 
    margin: 20px;   
    flex-wrap: wrap;
}

.image-logo h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    background-color: rgb(252, 250, 248);
    
}

.body {
    background-color: white;
 

}